QTimeEdit {
    max-widthth: 20px;
}

QDoubleSpinBox {
    border: 1px solid black;
    min-width: 70px;
}

QDoubleSpinBox::up-button, QTimeEdit::up-button {
    subcontrol-origin:border;
    subcontrol-position:right;
    image: url(Resources/Icons/up_arrow.png);   
    border-left: 1px solid black;
    width: 30px;
    height: 30px;
}

QDoubleSpinBox::down-button, QTimeEdit::down-button {
    subcontrol-origin:border;
    subcontrol-position:left;
    image: url(Resources/Icons/down_arrow.png);
    border-right: 1px solid black;
    width: 30px;
    height: 30px;
}

QPushButton {
     background-color: #E8E8E8;
     border-width: 1px;
     border-color: black;
     border-style: solid;
     border-radius: 7;
     padding: 10px;
     font-size: 14px;
     font-weight:bold;
     color: black;
 }
 
QPushButton:pressed {
     background-color: #778899;
 }
 
#random_day {
     font-size: 10px;
     font-weight:none;
}
  
QGroupBox {
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px;
    margin-top: 16px;
    font: bold 16px;
}

QGroupBox::title {
    top: -12px;
    left: 10px;
}


QDateTimeEdit {
    min-width:160px;
    border: 1px solid #1e1e1e;
    border-radius: 4; 
}

QDateTimeEdit::drop-down {
    width: 30px;
    height: 30px;
    subcontrol-origin:border;
    subcontrol-position:right;
    border: 1px solid rgb(100,100,100);
    image: url("Resources/Icons/down_arrow.png");
}

QDateTimeEdit::drop-down::pressed {
    background-color: #778899;
}

#generateButton[ready=true] {
    background-color: #90EE90;
}
            
#generateButton[ready=false] {
    background-color: #ff5050;
}

QLineEdit {
     border: 1px solid #1e1e1e;
     border-radius: 5;
     min-width:20px;
}

#analyst_name {
    min-width:200px;
    margin-right: 200px;
}

QLineEdit:disabled {
    background: #dddddd;
}
 
QComboBox {
    min-width: 30px;
    selection-background-color: #778899;
    border: 1px solid #1e1e1e;
    border-radius: 5;
}

QComboBox::drop-down {
    border-left-width: 2px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    width: 30px;
    height: 30px;
    image: url("Resources/Icons/down_arrow.png");
}

#domains {
    min-width: 100px;
}
 
QCheckBox:disabled {
    color: #414141;
}

QScrollBar:vertical {
    background: #D3D3D3;
    width: 12px;
    margin: 16px 0 16px 0;
    border: 1px solid #222222;
}
 
QScrollBar::handle:vertical {
    background: #778899;
    min-height: 20px;
    border-radius: 2px;
}
 
QScrollBar::add-line:vertical {
    border: 1px solid #1b1b19;
    border-radius: 2px;
    background: #B0C4DE;
    height: 14px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}
 
QScrollBar::sub-line:vertical {
    border: 1px solid #1b1b19;
    border-radius: 2px;
    background: #B0C4DE;
    height: 14px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
 
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    background: white;
}
 
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
 
QSlider::groove:horizontal {
    border: 1px solid #3A3939;
    height: 6px;
    background: black;
    margin: 2px 0;
    border-radius: 2px;
}
 
QSlider::handle:horizontal {
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1,
       stop: 0.0 silver, stop: 0.2 #a8a8a8, stop: 1 #727272);
    border: 1px solid #3A3939;
    width: 14px;
    height: 14px;
    margin: -4px 0;
    border-radius: 2px;
}

QTabWidget::pane {
    border: 1px solid black;
    background: white;
}

QTabWidget::tab-bar:top {
    top: 1px;
}

QTabWidget::tab-bar:bottom {
    bottom: 1px;
}

QTabWidget::tab-bar:left {
    right: 100px;
}

QTabWidget::tab-bar:right {
    left: 1px;
}

QTabBar::tab {
    border: 1px solid black;
}

QTabBar::tab:selected {
    background: white;
}

QTabBar::tab:!selected {
    background: silver;
}

QTabBar::tab:!selected:hover {
    background: #999;
}

QTabBar::tab:top:!selected {
    margin-top: 3px;
}

QTabBar::tab:bottom:!selected {
    margin-bottom: 3px;
}

QTabBar::tab:top, QTabBar::tab:bottom {
    min-width: 8ex;
    margin-right: -1px;
    padding: 5px 10px 5px 10px;
}

QTabBar::tab:top:selected {
    border-bottom-color: none;
}

QTabBar::tab:bottom:selected {
    border-top-color: none;
}

QTabBar::tab:top:last, QTabBar::tab:bottom:last,
QTabBar::tab:top:only-one, QTabBar::tab:bottom:only-one {
    margin-right: 0;
}

QTabBar::tab:left:!selected {
    margin-right: 3px;
}

QTabBar::tab:right:!selected {
    margin-left: 3px;
}

QTabBar::tab:left, QTabBar::tab:right {
    min-height: 8ex;
    margin-bottom: -1px;
    padding: 10px 5px 10px 5px;
}

QTabBar::tab:left:selected {
    border-left-color: none;
}

QTabBar::tab:right:selected {
    border-right-color: none;
}

QTabBar::tab:left:last, QTabBar::tab:right:last,
QTabBar::tab:left:only-one, QTabBar::tab:right:only-one {
    margin-bottom: 0;
}

QMenuBar {
    spacing: 3px;
    min-width:40px;
    background: transparent;
    
}

QMenuBar::item {
    /*border: 1px solid black;*/
    padding-right: 4px;
    padding-left: 4px;
    background: white;
}

QMenuBar::item::hover {
    padding: 1px 4px;
    border-radius: 4px;
}

QMenuBar::item:selected { 
    background: #a8a8a8;
}

QMenuBar::item:pressed {
    background: #888888;
}

QTimeEdit { 
    min-width:80px;
    border: 1px solid #1e1e1e;
    border-radius: 5; 
}

CheckableComboBox {
     border: 2px solid darkgray;
     selection-background-color: red;
     min-width:40px;
}
 
QListWidget {
 max-height:100px;
}